 
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App{
  margin-top:-1.4%;
}
.notes-list {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
  /* padding: 2.5rem; */
}
.note {
  background-color:#5ca5d1;
  width: 250px;
  min-height: 200px;
  /* margin-bottom: 30px; */
  border-radius:50px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.darkModeContainer  {
	background-color:#0c2330;
  color: white;
 
   
}
.save-icon{
  color:#147dba;
}
.fa-trash-alt:hover{
  color:red;
}
.save-icon:hover{
  color:#0c2330;
}
.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
  padding-top:50px;
}

.darkModeContainer h1 textarea {
	color: white ;
  
}

.note-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:0.5rem;
  font-size: 18px;
}

.login{
  text-align: center;
  background-color: #0c2330;
  color: white;
  min-height:100vh;
  padding-top:10%;

}
.login input{
  border-radius: 50px;
}
textarea{
  border:none;
  resize: none;
  background-color:#5ca5d1; 
}
textarea:focus {
	outline: none;
}
.note.new {
	background-color: #5ca5d1;

}
.search input{
  border-radius  : 20px;
  height: 25px;
 
}
.controls-banner{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.controls{
  display:flex;
  flex-direction: row;
  justify-content:space-between; 
  padding:1rem;
  min-width:250px;
}

.fa-moon{
  padding-top:3%;
}


.App-link {
  color: #61dafb;
}
.emailform {
  width:200px;
  height:30px;
  margin-top:2%;
}

.submitbutton{
  width:60px;
  height:30px;
  margin-top:2%;
}
.submitbutton:hover {
  background-color: #61dafb;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
